<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
  	<li>
  	   {{!-- <p>ID: {{this.id}}</p> --}}
       <p>Burgers: {{this.burger_name}}</p>
       <p>Devoured: {{this.devoured}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/api/burgers" method="POST">
	<textarea type="text" name="burger_name"></textarea>

	<button class="create-form" type="submit">Submit</button>
</form>


<h2>Enter a burger you want to eat, then click the "Submit" button.</h2>

